<div ng-controller="ColaboradorController">
    <form ng-submit="saveColaborador()">
        Nome: <input type="text" ng-model="colaborador.nome">
        Senha: <input type="password" ng-model="colaborador.senha">
        Cargo: <select ng-model="colaborador.cargo" ng-options="h.cargo for h in hierarquias"></select>
        <button type="submit">Salvar Colaborador</button>
    </form>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Senha</th>
                    <th>Cargo</th>
                    <th>Forca</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in colaboradores">
                    <td>{{ c.nome }}</td>
                    <td>{{ c.senha }}</td>
                    <td>{{ c.cargo }}</td>
                    <td>{{ c.forcaDaSenha }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          Ocorreu um erro!
        </div>
      </div>
    </div>
  </div>